* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card-component {
  background: #090909;
  border: 1px solid #000;
  border-radius: 5px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.btn {
  background-color: #14d8ff;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 24px;
}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.header {
  background-color: #000000;
  width: 100%;
  height: 80px;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
}

.logo {
  font-size: 2.625rem;
  font-weight: 600;
  color: #fff;
}

.logo span {
  color: #14d8ff;
}

.headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerMenu li a {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.headerMenu li + li {
  margin-left: 30px;
}

.curriculoBotao, .projetosBotao {
  width: 150px;
  height: 40px;
}

.intro {
  background-color: #141414;
  padding-top: 60px;
}

.introContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.arte {
  padding-top: 100px;
  width: 445px;
  height: 510px;
  background: url("../images/Frame 3formaHeader.svg") no-repeat;
  color: #fff;
}

.arte span {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 30px;
}

.arte .sobrenome {
  padding-left: 100px;
}

.arte p {
  font-size: 1.75rem;
  padding-left: 240px;
}

.arteUndraw {
  margin-top: 60px;
  width: 492px;
  height: 349px;
  background: url("../images/arteUndraw.svg");
}

.redesSociais {
  margin-right: 30px;
  position: absolute;
  right: 10px;
  top: 430px;
  margin-top: -200px;
}

.redesSociais .redesLista li + li {
  padding-top: 24px;
}

.redesSociais .redesLista img {
  width: 50px;
}

.perfil {
  width: 100%;
  height: 800px;
  background: #fff;
}

.formacao {
  background: #141414;
  width: 100%;
  height: 1024px;
  color: #fff;
  position: relative;
}

.formacao .container {
  padding-top: 200px;
}

.formacao .container .tituloFormacao {
  font-size: 4.375rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 1px;
  word-wrap: break-word;
  white-space: pre-wrap;
  position: absolute;
}

.formacao .container p {
  font-size: 1.125rem;
  padding: 10px 0 0 160px;
  max-width: 800px;
}

.formacao .cursos {
  padding-top: 60px;
  width: 844px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (240px)[3];
      grid-template-columns: repeat(3, 240px);
  -ms-grid-rows: (180px)[2];
      grid-template-rows: repeat(2, 180px);
  gap: 60px;
}

.formacao .cursos .curso {
  width: 240px;
  height: 180px;
  padding: 20px 0px 18px 20px;
  font-size: 1.125rem;
  display: -ms-grid;
  display: grid;
  position: relative;
}

.formacao .cursos .curso h2 {
  font-weight: bold;
  max-width: 213px;
}

.formacao .cursos .curso h3 {
  color: #eeeeee;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.formacao .cursos .curso h4 {
  font-size: 0.95rem;
}

.formacao .cursos .curso::before {
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 5px;
  background: #14d8ff;
  display: block;
  position: absolute;
  left: -4px;
  top: 70px;
}

.formacao .grupo-tecnologias {
  padding: 55px 0 0 0px;
  text-align: center;
}

.formacao .grupo-tecnologias h2 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.formacao .grupo-tecnologias .tecnologias {
  width: 840px;
  height: 84px;
  padding: 0 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formacao .grupo-tecnologias .tecnologias .tecnologia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.formacao .grupo-tecnologias .tecnologias .tecnologia img {
  margin-right: 8px;
}

.formacao .grupo-tecnologias .tecnologias span {
  font-size: 1.125rem;
}

.footer {
  width: 100vw;
  height: 32rem;
  background: #000;
  color: #fff;
}

.footer a {
  color: #fff;
}

.redes-footer {
  padding-top: 70px;
  font-size: 1.5em;
  font-weight: bold;
}

.redes-footer .rede a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes-footer .rede a img {
  width: 50px;
  margin-right: 10px;
}

.redes-footer div + div {
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */