$primaryColor: #14D8FF;
$secondaryColor: #7EEAFF;
$backgroundColor: #141414;
$cardsColor: #090909;
$textColor: #EEEEEE;
$buttonMenuColor: linear-gradient(to right, rgba(20,216,255,1) , rgba(0,214,255,1));


