$primaryColor: #14d8ff;
$secondaryColor: #7eeaff;
$backgroundColor: #141414;
$cardsColor: #090909;
$textColor: #eeeeee;
$buttonMenuColor: linear-gradient(to right,
  rgba(20, 216, 255, 1),
  rgba(0, 214, 255, 1)
);

* {
  box-sizing: border-box;
}

.card-component {
  background: #090909;
  border: 1px solid #000;
  border-radius: 5px;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

.btn {
  background-color: $primaryColor;
  display: grid;
  place-items: center;
  border-radius: 24px;

}

.container {
  margin: 0 auto;
  max-width: 1160px;
}

.header {
  background-color: #000000;
  width: 100%;
  height: 80px;
  // display: flex;
  
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
  }
}

.logo {
  font-size: 2.625rem;
  font-weight: 600;
  color: #fff;

  span {
    color: $primaryColor;
  }
}

.headerMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  li a{
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;

  }

  li+li {
    margin-left: 30px;
  }

}

.curriculoBotao, .projetosBotao {
  width: 150px;
  height: 40px;
}

.intro {
  // display: flex;
  background-color: $backgroundColor;
  padding-top: 60px
  
  
}

.introContainer {
  display: flex;
  justify-content: space-between;
}

.arte {
  padding-top: 100px;
  width: 445px;
  height: 510px;
  background: url('../images/Frame\ 3formaHeader.svg') no-repeat;
  color: #fff;

  span {
    font-size: 4.5rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 30px;
  }

  .sobrenome {
    padding-left: 100px;
  }

  p {
    font-size: 1.75rem;
    padding-left:240px;
  }
}

.arteUndraw {
  margin-top: 60px;
  width: 492px;
  height: 349px;
  background: url('../images/arteUndraw.svg');
}

.redesSociais {
  margin-right: 30px;
  position: absolute;
  right: 10px;
  top: 430px;
  margin-top: -200px;

  .redesLista {
    li+li {
      padding-top: 24px;
    }

    img {
      width: 50px;
    }
  }
}



.perfil {
  width: 100%;
  height: 800px;
  background: #fff;
}



.formacao {
  background: $backgroundColor;
  width: 100%;
  height: 1024px;
  color: #fff;
  position: relative;
  
  .container {
    padding-top: 200px;
    
    .tituloFormacao {
      font-size: 4.375rem;
      font-weight: bold;
      text-transform: uppercase;
      width: 1px;
      word-wrap: break-word;
      white-space: pre-wrap;
      position: absolute;
    }
    
    p {
      font-size: 1.125rem;
      padding: 10px 0 0 160px;
      max-width: 800px;
    }
  }
  
  .cursos {
    padding-top: 60px;
    width: 844px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 240px);
    grid-template-rows: repeat(2, 180px);
    gap: 60px;


    .curso {
      width: 240px;
      height: 180px;
      padding: 20px 0px 18px 20px;
      font-size: 1.125rem;
      display: grid;
      position: relative;


      h2 {
        font-weight: bold;
        max-width: 213px;
      }

      h3 {
        color: $textColor;
        align-self: end;
      }

      h4 {
        font-size: 0.95rem;
      }


      &::before {
        content: "";
        width: 6px;
        height: 30px;
        border-radius: 5px;
        background: $primaryColor;
        display: block;
        position: absolute;
        left: -4px;
        top: 70px;
      }

    }

  }

  .grupo-tecnologias {
    padding: 55px 0 0 0px;
    text-align: center;

    h2 {
      font-size: 1.125rem;
      font-weight: bold;
      margin-bottom: 15px;
    }

    .tecnologias {
      width: 840px;
      height: 84px;
      padding: 0 50px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .tecnologia {
        display: flex;
        align-items: flex-end;
        img {
          margin-right: 8px;
        }

      }

      span{
        font-size: 1.125rem;
      }
    }
  }
}


.footer {
  width: 100vw;
  height: 32rem;
  background: #000;
  color: #fff;

  a{ 
  color: #fff;
  }
}

.redes-footer {
  padding-top: 70px;
  font-size: 1.5em;
  font-weight: bold;

  .rede {
    a{
      display: flex;
      align-items: center;

      img {
        width: 50px;
        margin-right: 10px;
      }
    }
  }

  div + div {
    margin-top: 30px;
  }
}





